<footer class="footercomponent">
    <section class="container footer_top_sec ta pad_top">
        <div class="footer-top-flexitem">
            <h3 class="int_text">Interested in staying relevant?</h3>
            <p class="int_text1">Join us with our simple clear pricing</p>
            <button class="getstarted_cta">Get Started</button>
        </div>
    </section>
    <div class="container logo_div ta pad_top">
        <div class="logo_flex_item">
            <img src="assets/footerlogo.png" alt="hoolio logo" class="footer_logo">
        </div>
        <div class="footer_socials">
            <div class="social_links">
                <div class="link_items">
                    <a href="#"><img src="assets/twitter.png" alt="twitter icon"></a>
                </div>
                <div class="link_items">
                    <a href="#"><img src="assets/instagram.png" alt="instagram icon"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright_div pad_top2">
        <div class="info_flex ta">
            <div class="info_text">
                <a href="#">Contact</a>
            </div>
            <div class="info_text">
                <a href="#">Terms of Use</a>
            </div>
            <div class="info_text">
                <a href="#">Privacy Policy</a>
            </div>
        </div>
        <div class="copy_flex_item copy ta">
            <p class="copy footer_copy">
                &copy; 2021 Hoolio. all rights reserved.
              </p>
        </div>
    </div>
</footer>
