<main class="hoolio-landingpage">
    <app-navbar></app-navbar>
    <div class="container top-scetion">
        <div class="top-flex-container">
            <div class="top-flexitem">
                <h1 class="top_text">The reliable way <br class="br_none"> to get feedback</h1>
                <p class="top_text1">Understand your users, evolve <br class="br_none"> 
                    your product and adapt to market demands.
                </p>
                <div class="arrow-img">
                    <img src="assets/drawn-arrow-key1.png" alt="arrow" class="arrow">
                </div>
                <button class="get_started_cta">Get Started</button>
                <div class="feature_box">
                    <img src="assets/innovative.png" alt="innovative box" class="innovative">
                </div>
            </div>
            <div class="flex_item_teamwork">
                <img src="assets/teamwork.png" alt="team work image" class="teamwork pad_top">
            </div>
        </div>
    </div>
    <div class="container feedback_section ta">
        <h3 class="feedback_text">Collect feedback <br class="br_none"> and track them efficiently</h3>
        <p class="feedback_text1">Give your users a voice and steer your product in <br> the right direction.</p>
    </div>
    <div class="bluecurve">
        <img src="assets/bluecurve.png" alt="blue curve" class="outter_curve">
    </div>
    <div class="container icon_div ta pad_top">
        <div class="hour_icon">
            <img src="assets/stopwatch.png" alt="clock" class="stop_watch">
            <h5 class="hour_text">Remove wasted hours</h5>
            <p class="hour_text1">Searching through endless customer <br class="br_none">
                feedback on mutiple channels is over
            </p>
        </div>
        <div class="use_icon pad_top">
            <img src="assets/thumbsup.png" alt="thumbs up" class="thumb_img">
            <h5 class="easy_text">Easy to Use</h5>
            <p class="easy_text1">No onboarding needed, Hoolio is <br class="br_none">
                intuitive at the first second.
            </p>
        </div>
        <div class="collab_icon pad_top">
            <img src="assets/members.png" alt="user emoji" class="member_img">
            <h5 class="collab_text">User collaboration</h5>
            <p class="collab_text1">Share the link with everyone involved <br class="br_none">
                and collaborate with ease.
            </p>
        </div>
    </div>
    <section class="container plan_section ta">
        <h3 class="plan_text">Plan your roadmap <br> It's as simple as that:</h3>
        <p class="plan_text1">Our tool enables your team isolate the use case 
            and not lose track of it <br class="br_none"> as the development progresses 
            and gives you the ability to clearly <br class="br_none"> track iterations of a feature.
        </p>
    </section>
    <div class="yellowcurve">
        <img src="assets/yellowcurve.png" alt="yellow curve" class="outter_yellow_curve">
    </div>
    <div class="container personalized_section ta pad_top">
        <div class="personalized_div">
            <h3 class="personalized_text">Personalized Tools</h3>
            <p class="personalized_text1">We give you tools to help you prioritize 
                and decide on features that matter
            </p>
        </div>
        <div>
            <img src="assets/team1.png" alt="team member" class="team1 pad_top">
        </div>
    </div>
    <div class="container isolate_section ta pad_top">
        <div class="isolate_div">
            <h3 class="isolate_text">Isolate Use Cases</h3>
            <p class="isolate_text1">Get context, understand use cases and keep
                your team clear as to the relevance of features being worked on
            </p>
        </div>
        <div>
            <img src="assets/team2.png" alt="team member" class="team2 pad_top">
        </div>
    </div>
    <div class="container keep_section ta pad_top">
        <div class="keep_div">
            <h3 class="keep_text">Keep everyone in <br class="br_none"> the loop and excite users</h3>
            <p class="keep_text1"> Keep all product teams UX, Engineering, Admin and <br class="br_none"> more in sync. 
                Let users know what coming, what has arrived and make it interesting 
                for them to express their needs that your product can fill.
            </p>
        </div>
        <div>
            <img src="assets/team3.png" alt="team member" class="team3 pad_top">
        </div>
    </div>
    <div class="container pricing_section ta pad_top">
        <div>
            <h3>Pricing</h3>
        </div>
    </div>
    <div class="container subscription_section pad_top">
        <div class="basic_sub_div">
            <h5 class="sub_text">Basic</h5>
            <p class="con_use">Connect with Users</p>
            <p class="sub_price">From <strong>$15/m</strong></p>
            <button class="pricing_cta p_cta">Start now</button>
            <ul class="subscription_features" id="ul1">
                <li class="feature_item"><span>Unlimited Teams</span></li>
                <li class="feature_item f_i fi"><span>5 members per team</span></li>
                <li class="feature_item f_i"><span>Custom Domain</span></li>
                <li class="feature_item f_i"><span>Internal Tracking</span></li>
                <li class="feature_item f_i"><span>Limited Storage</span></li>
            </ul>
        </div>
        <div class="vertical_line"></div>
        <div class="team_sub_div">
            <h5 class="sub_text">Teams</h5>
            <p class="sc">Super charge your Product</p>
            <p class="sub_price">From <strong>$30/m</strong></p>
            <button class="pricing_cta">Start now</button>
            <p class="sub_pad">Everything in Basic with no retrictions plus:</p>
            <hr class="sub_hr">
            <ul class="extra_features" id="ul2">
                <li class="feature_items"><span>Unlimited Storage</span></li>
                <li class="feature_items"><span>API Access</span></li>
                <li class="feature_items"><span>Dedicated Support</span></li>
            </ul>
        </div>
    </div>
</main>
<app-footer></app-footer>
